.order {
    min-height: calc(100vh - 21rem);
}

.empty {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.orders-heading, .orders-total {
    width: 100%;
    max-width: 600px;
}
.orders-heading {
    border-bottom: 2px solid #000;
    margin-bottom: 5.5rem;
}

.orders-total {
    border-top: 2px solid #000;
    text-align: right;
    margin-left: auto;
    margin-right: 3rem;
}