.logo-content{
    display: flex;
    flex-direction: column;
}

.logo {
    margin: auto;
    width: 60px;
}

.logo-text {
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
}

@media (max-width: 768px) {
    .logo-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto 10px;
    }

    .logo {
        margin: auto;
        width: 50px;
    }

    .logo-text {
        margin-left: 1rem;
        font-size: 1.6rem;
        font-weight: 700;
    }
}