.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.5rem;
    height: 50vh;
}

.header-content {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.content-main h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.content-main p{
    font-weight: 500;
}

@media (max-width: 768px){
    .header {
        display: flex;
        flex-direction: column-reverse;
        height: 80vh;
        justify-content: end;
    }

    .header-content {
        margin: auto;
    }

    .content-main h1{
        width: 90vw;
        font-size: 1.4rem;
        text-align: center;
    }

    .content-main p{
        font-size: 1rem;
        text-align: justify;
    }
}