.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.5rem;
    height: 50vh;
}

.header-content {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.content-main h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.content-main p{
    font-weight: 500;
}

.content-main button {
    background-color: #000;
    color: #fff;
    display: flex;
    width: 240px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 2.5rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

@media (max-width: 768px){
    .header {
        display: flex;
        flex-direction: column-reverse;
        height: 80vh;
        justify-content: end;
    }

    .header-content {
        margin: auto;
    }

    .content-main h1{
        width: 90vw;
        font-size: 1.4rem;
        text-align: center;
    }

    .content-main p{
        font-size: 1rem;
        text-align: justify;
    }

    .content-main button{
        font-size: 1.2rem;
        width: 50vw;
        padding: .5rem 1rem;
        margin: 2rem auto auto;
    }
}