.banner-image{
    width: 100%;
    align-self: center;
}

.card-img{
    height: 10rem;
    margin-top: -5rem;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}

.empty-cart {
    width: 50%;
    margin: auto;
}

@media (max-width: 768px) {
    .banner-image{
        padding: 10px;
    }
}