.btnCartCount {
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 5rem;
}

.btnCartCount i {
    transform: rotate(-45deg);
}

.btnCartCount .count {
    position: absolute;
    background-color: red;
    top: -8px;
    left: -9px;
    transform: rotate(-45deg);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .btnCartCount {
        top: 3rem;
        right: 5rem;
    }
}

@media (max-width: 765px) {
    .btnCartCount {
        top: 7rem;
        right: 2rem;
    }
}